body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #669999;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  margin: 0;
  /* rgbで#ffffのように色を設定、rgbaで透明度（背景)も設定 */
  background-color: rgba(34, 49, 52, 0.9);
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.3);
  /* fixedで要素の位置を固定 */
  position: fixed;
  top: 0;
  /* z-indexで要素の重なる順番を指定できる */
  z-index: 10;
}

.logo {
  height: 55px;
  margin: 5px 10px 0 0;
}
.header-container {
  width: 100%;
  padding: 0 5px;
  /* autoで大きいブロックを中央に揃える(width必須) */
  margin: 0 auto;
}
.header-left {
  margin-left: 1%;
  /* floatでどちらに詰めるか設定 */
  float: left;
}
.header-left-ico {
  float: left;
}
.header-left-txt {
  float: left;
}
.header-left-txt a {
  line-height: 65px;
  font-size: 25px;
  color: #b3aeb5;
  display: block;
}
.header-right {
  float: right;
  margin-right: 3%;
}
.right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.right {
  float: right;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  /* transitionでカーソルを乗せたとき、アニメーションをつけるように */
  transition: background-color 2.0s;
}
.right a {
  /* line-heightで行の高さを設定（今回はheaderの高さに合わせ、文字が中央に来るようにした） */
  line-height: 65px;
  color: white;
  padding: 0 25px;
  /* display: block;でぼっく自然体をクリックできるように */
  display: block;
}

.top-wrapper {
  width: 100%;
  /* padding: 上 右 下 左; */
  position: relative;
  padding: 90px 0 150px 0;
  /* imageで画像挿入,coverで画面サイズに合わせ拡大縮小 */
  color: black;
  /* text-alignでテキスト（margin: autoより狭い範囲)の位置を揃える */
  text-align: center;
}

.slide-container {
  margin: 0 auto;
  padding-bottom: 5%;
  width: 35%;
}
.slide img {
  margin: 0 auto;
  width: 95%;
}
.slick-slide {
  text-align: center;
}

.top-wrapper h1 {
  /* opacityで透明度設定(0.0:透明,1.0:不透明) */
  opacity: 1.0;
  font-size: 45px;
  /* letter-spacingで文字間隔設定 */
  letter-spacing: 5px;
}
.top-txt {
  margin-top: 70px;
  margin-bottom: 5%;
}
.container {
  width: 100%;
  /* autoで大きいブロックを中央に揃える(width必須) */
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}
.btn-wrapper {
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.btn {
  padding: 8px 24px;
  color: white;
  /* displayでインラインをブロック化し横に並べられるように */
  display: inline-block;
  opacity: 0.8;
  /* border-radiusで丸みをつける */
  border-radius: 4px;
}
/* :hoverでカーソルが上に乗ったときに作動 */
.btn:hover {
  opacity: 1.0;
}
.kobe-sc img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.kobe-sc {
  width: 10%;
  background-color: white;
  padding: 1px 1px;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}
.fab {
  margin-right: 5px;
}

ul {
  margin-block-end: 0;
  list-style-type: none;
}
li a {
  color: #b3aeb5;
}
li a:hover {
  color: white;
}
  
footer p {
  color: #b3aeb5;
  font-size: 12px;
  margin-top: 0;
  text-align: center;
}
footer {
  padding-top: 25px;
  position: relative;
}
.foot-img img {
  float: right;
  width: 8%;
  position: absolute;       /* 位置指定 */
  bottom: 12px;                  /* 位置指定 */
  right: 3%;
  z-index: 0;
  opacity: 0.4;
}
.list_square li {
  color: white;
}
.list_square a {
  color: white;
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{
  body {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  header {
    height: 40px;
  }
  .logo {
    height: 30px;
    margin: 5px 5px 0 0;
  }
  .header-container {
    width: 100%;
    padding: 0 5px;
  }
  .header-left-txt a {
    line-height: 40px;
    font-size: 15px;
  }
  .header-right {
    margin-right: 15px;
    width: 25%;
  }
  .sub {
    display: none;
  }
  .header-right a {
    /* line-heightで行の高さを設定（今回はheaderの高さに合わせ、文字が中央に来るようにした） */
    line-height: 40px;
    padding: 0 10px;
  }

  .top-wrapper {
    /* padding: 上 右 下 左; */
    padding: 10px 0 50px 0;
    margin-top: 80px;
  }
  .top-img img {
    width: 25%;
    top: 72.5%;                  /* 位置指定 */
    left: 63%;
  }
  .top-wrapper h1 {
    font-size: 30px;
  }

  .slide-container {
    width: 50%;
  }

  .top-txt {
    margin-top: 0;
  }
  .container {
    width: 100%;
    /* autoで大きいブロックを中央に揃える(width必須) */
    margin: 0 auto;
  }
  .btn-wrapper {
    margin: 10px 0;
  }
  .btn-wrapper p {
    margin: 6px 0;
  }
  .btn {
    padding: 4px 12px;
  }
  .kobe-sc {
    width: 18%;
    padding: 1px 1px;
  }
  .facebook {
    margin-right: 5px;
  }
  .fab {
    margin-right: 3px;
  }
  
  ul {
    font-size: 12px;
    padding-inline-start: 30px;
  }

  footer p {
    font-size: 9px;
  }
  footer {
    padding-top: 13px;
  }
  .foot-img img {
    width: 14%;
  }

}
