body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #669999;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  /* rgbで#ffffのように色を設定、rgbaで透明度（背景)も設定 */
  background-color: rgba(34, 49, 52, 0.9);
  /* fixedで要素の位置を固定 */
  position: fixed;
  top: 0;
  /* z-indexで要素の重なる順番を指定できる */
  z-index: 10;
}

.logo {
  width: 95px;
  margin-top: 5px;
}
.header-container {
  width: 1170px;
  padding: 0 5px;
  /* autoで大きいブロックを中央に揃える(width必須) */
  margin: 0 auto;
}
.header-left {
  /* floatでどちらに詰めるか設定 */
  float: left;
}
.header-left-ico {
  float: left;
}
.header-left-txt {
  font-size: 20px;
  color: #b3aeb5;
  float: left;
}
.header-right {
  padding-right: 10px;
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  /* transitionでカーソルを乗せたとき、アニメーションをつけるように（all 2.5sですべてのプロパティの変化時間が2.5秒に） */
  transition: all 2.5s;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right a {
  /* line-heightで行の高さを設定（今回はheaderの高さに合わせ、文字が中央に来るようにした） */
  line-height: 65px;
  padding: 0 25px;
  color: white;
  /* display: block;でぼっく自然体をクリックできるように */
  display: block;
}

.top-wrapper {
  height: 1300px;
  /* padding: 上 右 下 左; */
  padding: 160px 0 100px 0;
  /* imageで画像挿入,coverで画面サイズに合わせ拡大縮小 */
  background-color: #669999;
  color: black;
  /* text-alignでテキスト（margin: autoより狭い範囲)の位置を揃える */
  text-align: center;
}
.top-wrapper h1 {
  /* opacityで透明度設定(0.0:透明,1.0:不透明) */
  opacity: 1.0;
  font-size: 45px;
  /* letter-spacingで文字間隔設定 */
  letter-spacing: 5px;
}
.top-logo img {
  width: 340px;
  height: 340px;
  padding: 0 0 100px 0;
}
.top-wrapper p {
  opacity: 1.0;
}
.container {
  width: 1170px;
  padding: 0 15px;
  /* autoで大きいブロックを中央に揃える(width必須) */
  margin: 0 auto;
}
.btn-wrapper {
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.btn {
  padding: 8px 24px;
  color: white;
  /* displayでインラインをブロック化し横に並べられるように */
  display: inline-block;
  opacity: 0.8;
  /* border-radiusで丸みをつける */
  border-radius: 4px;
}
/* :hoverでカーソルが上に乗ったときに作動 */
.btn:hover {
  opacity: 1.0;
}
.signup {
  background-color: #239b76;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}
.fab {
  margin-right: 5px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
footer {
  padding-top: 30px;
}


/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{
	header {
    height: 40px;
  }
  .logo {
    width: 60px;
    margin-top: 2px;
  }
  .header-container {
    width: 100%;
    padding: 0 5px;
  }
  .header-left-txt {
    font-size: 15px;
  }
  .header-right {
    padding-right: 5px;
  }
  .header-right a {
    /* line-heightで行の高さを設定（今回はheaderの高さに合わせ、文字が中央に来るようにした） */
    line-height: 40px;
    padding: 0 10px;
  }
	
  .top-wrapper {
    /* padding: 上 右 下 左; */
    padding: 10px 0 50px 0;
  }
  .top-wrapper h1 {
    font-size: 30px;
  }
  .top-logo img {
    width: 220px;
    height: 220px;
    padding: 0 0 0 0;
  }
  .container {
    width: 100%;
    padding: 0 7px;
    /* autoで大きいブロックを中央に揃える(width必須) */
    margin: 0 auto;
  }
  .btn-wrapper {
    margin: 10px 0;
  }
  .btn-wrapper p {
    margin: 6px 0;
  }
  .btn {
    padding: 4px 12px;
  
  }

 
  .facebook {
    margin-right: 5px;
  }
  .fab {
    margin-right: 3px;
  }

  footer p {
    font-size: 9px;
  }
  footer {
    padding-top: 13px;
  }

}
