body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #669999;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  margin: 0;
  /* rgbで#ffffのように色を設定、rgbaで透明度（背景)も設定 */
  background-color: rgba(34, 49, 52, 0.9);
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.3);
  /* fixedで要素の位置を固定 */
  position: fixed;
  top: 0;
  /* z-indexで要素の重なる順番を指定できる */
  z-index: 10;
}

.logo {
  height: 55px;
  margin: 5px 10px 0 0;
}
.header-container {
  width: 100%;
  padding: 0 5px;
  /* autoで大きいブロックを中央に揃える(width必須) */
  margin: 0 auto;
}
.header-left {
  margin-left: 1%;
  /* floatでどちらに詰めるか設定 */
  float: left;
}
.header-left-ico {
  float: left;
}
.header-left-txt {
  float: left;
}
.header-left-txt a {
  line-height: 65px;
  font-size: 25px;
  color: #b3aeb5;
  display: block;
}
.header-right {
  float: right;
  margin-right: 3%;
}
.right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.right {
  float: right;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  /* transitionでカーソルを乗せたとき、アニメーションをつけるように */
  transition: background-color 2.0s;
}
.right a {
  /* line-heightで行の高さを設定（今回はheaderの高さに合わせ、文字が中央に来るようにした） */
  line-height: 65px;
  color: white;
  padding: 0 25px;
  /* display: block;でぼっく自然体をクリックできるように */
  display: block;
}

.container {
  width: 100%;
  /* autoで大きいブロックを中央に揃える(width必須) */
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}

/*top wrapper*/
.top-wrapper {
  margin-bottom: 30px;
  /* padding: 上 右 下 左; */
  padding: 170px 0 140px 0;
  /* imageで画像挿入,coverで画面サイズに合わせ拡大縮小 */
  background-color: #669999;
  color: black;
  /* text-alignでテキスト（margin: autoより狭い範囲)の位置を揃える */
  text-align: center;
}
.top-logo img {
  width: 900px;
  height: 900px;
  position: absolute;        /* 位置指定 */
  top: -200px;                  /* 位置指定 */
  left: -200px;
  z-index: 0;
  opacity: 0.2;
}
.top-txt {
  margin: 0 auto;
}
.top-txt h1 {
  /* opacityで透明度設定(0.0:透明,1.0:不透明) */
  opacity: 1.0;
  font-size: 45px;
  margin-block-end: 0.0em;
  display: inline-block;
  transition: transform 1s ease-out;
}
.top-txt h1:hover {
  transform: rotate(15deg);
}
.top-txt h2 {
  font-size: 40px;
  margin-block-start: 0.0em;
}
.top-list {
  width: 30%;
  margin: 0 auto;
  display: block;
  opacity: 0.6;
  border-radius: 8px;
  background-color:#99CCCC;
  cursor: pointer;
  transition: box-shadow 2s ease-out, transform 2s ease-out;
  box-shadow:
    0 3px 5px 0px rgba(0, 0, 0, 0.2),
    0 -3px 5px 0px rgba(0, 0, 0, 0.2);
}
.top-list:hover {
  box-shadow:
    0 5px 8px 0px rgba(0, 0, 0, 0.7),
    0 -5px 8px 0px rgba(0, 0, 0, 0.7);
  transform: translateY(2px) scale(1.05);
}
.top-list li {
  list-style: none;
}
.act-list {
  padding-inline-start: 0;
}
.act-list-item {
  padding: 10% 0;
}
.act-list-item h3 {
  font-size: 30px;
  width: 50%;
  margin: 0 auto;
  border-bottom: solid 3px rgba(34, 49, 52, 0.4);
}
.act-list-item span {
  font-size: 30px;
  color: rgba(34, 49, 52);;
}
.month ul{
  list-style-type:none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  font-size: 22px;
  width: 50%;
  margin: 0 auto;
  border-bottom: solid 3px rgba(34, 49, 52, 0.4);
  display: none;
}
.btn-wrapper {
  margin: 50px 0 0 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.btn {
  padding: 8px 24px;
  color: white;
  /* displayでインラインをブロック化し横に並べられるように */
  display: inline-block;
  opacity: 0.8;
  /* border-radiusで丸みをつける */
  border-radius: 4px;
}
/* :hoverでカーソルが上に乗ったときに作動 */
.btn:hover {
  opacity: 1.0;
}
.kobe-sc img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.kobe-sc {
  width: 10%;
  background-color: white;
  padding: 1px 1px;
}
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.twitter {
  background-color: #55acee;
}
.fab {
  margin-right: 5px;
}

/*act wrapper*/
.act-wrapper {
  height: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
.act-img img {
  width: 10%;
  position: absolute;       /* 位置指定 */
  top: -5%;                  /* 位置指定 */
  left: 52%;
  z-index: 0;
}
.act-container {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  top: 0;
  left: 0;
  z-index: 5;
}
.act-year {
  font-size: 25px;
  position: relative;
}
.act {
  box-sizing: border-box;
  width: 47%;
  height: 100%;
  display: inline-block;
  opacity: 1;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: box-shadow 2s ease-out, transform 2s ease-out;
  box-shadow:
    0 3px 5px 0px rgba(0, 0, 0, 0.2),
    0 -3px 5px 0px rgba(0, 0, 0, 0.2);
}
.act-left {
  position: relative;
  padding: 1% 3% 1% 3%;
  text-align: left;
}
.act-left:hover {
  box-shadow:
    0 5px 8px 0px rgba(0, 0, 0, 0.7),
    0 -5px 8px 0px rgba(0, 0, 0, 0.7);
  transform: translateY(2px) scale(1.05);
}
.act-right {
  position: relative;
  margin-left: 1%;
  padding: 1% 3% 1% 3%;
  text-align: left;
}
.act-right:hover {
  box-shadow:
    0 5px 8px 0px rgba(0, 0, 0, 0.7),
    0 -5px 8px 0px rgba(0, 0, 0, 0.7);
  transform: translateY(2px) scale(1.05);
}
.act-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.act-txt h2 {
  margin-block-start: 3%;
  border-bottom: dashed 3px rgba(34, 49, 52, 0.9);
}

ul {
  margin-block-end: 0;
}
  
footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}
footer {
  padding-top: 25px;
  position: relative;
}
.foot-img img {
  float: right;
  width: 8%;
  position: absolute;       /* 位置指定 */
  bottom: 0%;                  /* 位置指定 */
  right: 3%;
  z-index: 0;
  opacity: 0.4;
}
.list_square li {
  color: white;
}
.list_square a {
  color: white;
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{
  body {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  header {
    height: 40px;
  }
  .logo {
    height: 30px;
    margin: 5px 5px 0 0;
  }
  .header-container {
    width: 100%;
    padding: 0 5px;
  }
  .header-left-txt a {
    line-height: 40px;
    font-size: 15px;
  }
  .header-right {
    margin-right: 15px;
    width: 25%;
  }
  .sub {
    display: none;
  }
  .header-right a {
    /* line-heightで行の高さを設定（今回はheaderの高さに合わせ、文字が中央に来るようにした） */
    line-height: 40px;
    padding: 0 10px;
  }

  .top-wrapper {
    /* padding: 上 右 下 左; */
    padding: 50px 0 50px 0;
  }
  .top-logo img {
    width: 400px;
    height: 400px;
    position:  absolute;        /* 位置指定 */
    top: -40px;
    left: -80px;                  /* 位置指定 */
    z-index: 0;
    opacity: 0.1;
  }
  .top-wrapper h1 {
    font-size: 30px;
  }
  .top-txt h1 {
    font-size: 30px;
  }
  .top-txt h2 {
    font-size: 25px;
  }
  .top-list {
    width: 45%;
  }
  .year {
    font-size: 23px;
  }
  .act-list-item h3 {
    width: 70%;
  }
  .act-list-item span {
    font-size: 20px;
  }
  .month ul {
    font-size: 17px;
    width: 70%;
  }
  .container {
    width: 100%;
    /* autoで大きいブロックを中央に揃える(width必須) */
    margin: 0 auto;
  }
  .btn-wrapper {
    margin: 30px 0 10px 0;
  }
  .btn-wrapper p {
    margin: 6px 0;
  }
  .btn {
    padding: 4px 12px;
  }
  .kobe-sc {
    width: 18%;
    padding: 1px 1px;
  }
  .facebook {
    margin-right: 5px;
  }
  .fab {
    margin-right: 3px;
  }

  .act-container {
    height: 100%;
    margin-bottom: 5px;
  }
  .act-img img {
    width: 25%;
    top: -2%;
    left: 60%;
  }
  .act {
    width: 95%;
  }
  .act-left {
    height: 200px;
    margin-bottom: 5px;
  }
  .act-left:hover {
    transform: translateY(1px) scale(1.02);
  }
  .act-right {
    height: 200px;
    margin-left: 0;
  }
  .act-right:hover {
    transform: translateY(1px) scale(1.02);
  }
  .act-txt h2 {
    border-bottom: dashed 2px rgba(34, 49, 52, 0.9);
  }


  footer p {
    font-size: 9px;
  }
  footer {
    padding-top: 13px;
  }
  .foot-img img {
    width: 14%;
  }

}
